@import '@thombruce/tnt';

@font-face {
  font-family: 'Brusher';
  src: url('~assets/fonts/Brusher-Regular.ttf') format('truetype');
}

/* Used with the chromaticAberration Utility. See: tailwind.config.js */
@keyframes chromaticMove { 
  0% {
    text-shadow: 3px 2px 2px rgba(236, 72, 153, 1), 0px -1px 3px rgba(251, 224, 71, .5), 0px 0px -2px rgba(60, 211, 238, 1);
  }
  50% {
    text-shadow: 3px 2px 2px rgba(236, 72, 153, 1), 0px -1px 3px rgba(251, 224, 71, .5), -3px 2px 3px rgba(60, 211, 238, 1);
  }
  100% {
    text-shadow: 3px 2px 2px rgba(236, 72, 153, 1), 0px -1px 3px rgba(251, 224, 71, .5), 2px -1px 2px rgba(60, 211, 238, 1);
  }
}
